.road {
  stroke: rgb(51,102,153);
}
.success_service_rate{
  fill: chartreuse;
}
.fail_service_rate{
  fill: crimson;
}
.passanger_exceed4{
  fill: darkorange;
}
#map_area_infor{
  position: fixed;
  top: 0;
  left: 550px;
  width: 400px;
}
#map_area{
  position: fixed;
  top: 110px;
  left: 550px;
  width: 400px;
  height: 600px;
  overflow: scroll;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
}